.hidden{
    display: none;
}

#msgContainer{
    margin: 2rem 0;
    background: #f4f4f4;
    padding: 0.5rem;
}

form{
    margin: 2rem 0;
}

ul[class='messages'] {
    background: #f2f2f2;
    list-style: none;
}

nav{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
}

