{% extends "two_factor/_base.html" %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

    <form method="post" id="submitForm" action="{% url 'register' %}">
    {% csrf_token %}
{#        <div class="form-group">#}
{#            <label for="InputEmail">Email address</label>#}
{#            <input type="email" class="form-control" id="InputEmail" name="email"#}
{#                   aria-describedby="emailHelp" placeholder="Enter email">#}
{#            <small id="emailHelp" class="form-text text-muted">We'll never share your email with#}
{#                anyone else.</small>#}
{#        </div>#}
{#        <div class="form-group">#}
{#            <label for="InputPassword">Password</label>#}
{#            <input type="password" class="form-control" id="InputPassword" name="password"#}
{#                   placeholder="Password">#}
{#        </div>#}
{#        <div class="form-group">#}
{#            <label for="ConfirmPassword">Confirm Password</label>#}
{#            <input type="password" class="form-control" id="ConfirmPassword" name="confirm_password"#}
{#                   placeholder="Confirm Password">#}
{#        </div>#}
        {{ register_form|crispy }}
        <button type="submit" class="btn btn-primary" id="submitBtn">Submit</button>
    </form>

    <script defer src="{% static 'two_factor_auth/js/register.js' %}"></script>
{% endblock %}