{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"
          rel="stylesheet" media="screen">
    <script defer src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer
            src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'two_factor_auth/css/style.css' %}">
</head>
<body>
{#  <div class="alert alert-success"><p class="container">Provide a template named#}
{#    <code>two_factor/_base.html</code> to style this page and remove this message.</p></div>#}

{% block content_wrapper %}
    <nav>
        {% if user.is_authenticated %}
            <span>Hello <em>{{ user.username }}</em></span>
            <a href="{% url 'logout' %}" class="login">Log out</a>
        {% endif %}
    </nav>
    <div class="container">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %}
                        class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% block content %}{% endblock %}
    </div>
{% endblock %}
</body>
</html>